@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

@import url(grid.scss);
@import url(text.scss);
@import url(background.scss);
@import url(shadow.scss);
@import url(transform-transition.scss);
@import url(size.scss);
@import url(border.scss);

.v-application {
    font-family: Open Sans !important;
    font-size: 16px !important
}

.v-label {
    opacity: 1 !important;
}

.v-text-field {
  input {
    font-size: 16px !important;
  }

  .v-field--variant-outlined .v-field__outline__start {
    flex: 0 0 24px;
  }
}

.v-table {
  font-size: 16px !important;
  th {
    background-color: rgb(249 250 251) !important;
    font-weight: bold !important;
  }
}

.v-btn {
  height: 40px !important;
  padding: 8px 20px !important;

  font-size: 16px !important;
  text-transform: none !important;
  opacity: 1 !important;

  &.v-btn--disabled {
    opacity: 0.26 !important;
  }

  &.v-btn--icon {
    width: 40px !important;
  }
}

.v-checkbox .v-selection-control {
  min-height: unset !important;
}

.v-time-picker-controls__time .v-btn {
  font-size: 56px !important;
  height: fit-content !important;
  padding: unset !important;
}
.v-time-picker-controls__ampm .v-btn {
  font-size: 18px !important;
  height: 40px !important;
  padding: unset !important;
}

.v-input {
  // flex: unset !important;
  
  .v-field {
    border-radius: 24px;
    background-color: white;
  }

  &.text-center input {
    text-align: center !important;
  }

  &.text-right input {
    text-align: right;
    --v-field-padding-end: unset !important;
  }
}

*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

/*! tailwindcss v3.4.11 | MIT License | https://tailwindcss.com*/
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
:after,
:before {
  --tw-content: "";
}
:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family:
    Open Sans,
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
}
body {
  line-height: inherit;
  margin: 0;
}
hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}
abbr:where([title]) {
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-feature-settings: normal;
  font-size: 1em;
  font-variation-settings: normal;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
}
fieldset,
legend {
  padding: 0;
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::placeholder,
textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}
[role="button"],
button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
}
img,
video {
  height: auto;
  max-width: 100%;
}
[hidden] {
  display: none;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.rounded-md {
  border-radius: 18px;
}
.rounded-lg {
  border-radius: 24px !important;
}
.rounded-xl {
  border-radius: 36px !important;
}
.inset-0 {
  inset: 0;
}
.mb-3 {
  margin-bottom: 12px;
}
.text-4xl {
  font-size: 36px;
  line-height: 41.4px;
}
.mb-6 {
  margin-bottom: 24px;
}
.mt-1 {
  margin-top: 4px;
}
.mt-4 {
  margin-top: 16px;
}
.mt-6 {
  margin-top: 24px;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.h-12 {
  height: 48px;
}
.h-\[300px\] {
  height: 300px;
}
.h-full {
  height: 100%;
}
.w-12 {
  width: 48px;
}
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.max-w-2xl {
  max-width: 42rem;
}
.max-w-3xl {
  max-width: 48rem;
}
.max-w-\[1200px\] {
  max-width: 1200px;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 12px;
}
.gap-4 {
  gap: 16px;
}
:is(.space-x-1 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-left: calc(4px * (1 - var(--tw-space-x-reverse)));
  margin-right: calc(4px * var(--tw-space-x-reverse));
}
:is(.space-x-3 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-left: calc(12px * (1 - var(--tw-space-x-reverse)));
  margin-right: calc(12px * var(--tw-space-x-reverse));
}
:is(.space-x-6 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-left: calc(24px * (1 - var(--tw-space-x-reverse)));
  margin-right: calc(24px * var(--tw-space-x-reverse));
}
.overflow-hidden {
  overflow: hidden;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-btn {
  border-radius: 24px;
}
.border-2 {
  border-width: 2px !important;
}
.border-emerald-500 {
  --tw-border-opacity: 1;
  border-color: rgb(16 185 129 / var(--tw-border-opacity)) !important;
}
.border-transparent {
  border-color: transparent;
}
.hover\:border-gray-400:hover,
.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity)) !important;
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity)) !important;
}

.bg-emerald-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(236 253 245 / var(--tw-bg-opacity));
}

.bg-emerald-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(16 185 129 / var(--tw-bg-opacity)) !important;
}
.bg-emerald-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(5 150 105 / var(--tw-bg-opacity)) !important;
}
.bg-emerald-700,
.hover\:bg-emerald-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(4 120 87 / var(--tw-bg-opacity)) !important;
}
.bg-emerald-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(6 95 70 / var(--tw-bg-opacity)) !important;
}
.bg-green-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(134 239 172 / var(--tw-bg-opacity));
}
.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity)) !important;
}
.bg-yellow-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 249 195 / var(--tw-bg-opacity));
}
.bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity));
}
.text-yellow-700 {
  --tw-text-opacity: 1;
  color: rgb(161 98 7 / var(--tw-text-opacity));
}
.text-red-700 {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  color: inherit !important;
}

.bg-gray-100,
.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important;
}
.hover\:bg-green-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(240 253 244 / var(--tw-bg-opacity)) !important;
}
.hover\:bg-green-100:hover,
.bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity)) !important;
}
.hover\:bg-green-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity)) !important;
}
.bg-amber-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 158 11 / var(--tw-bg-opacity));
}
.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops)) !important;
}
.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops)) !important;
}
.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops)) !important;
}
.from-emerald-50 {
  --tw-gradient-from: #ecfdf5 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(236, 253, 245, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-emerald-600 {
  --tw-gradient-from: #059669 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(5, 150, 105, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-teal-600 {
  --tw-gradient-from: #0d9488 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(13, 148, 136, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.to-emerald-500 {
  --tw-gradient-to: #10b981 var(--tw-gradient-to-position);
}
.to-green-500 {
  --tw-gradient-to: #22c55e var(--tw-gradient-to-position);
}
.to-gray-50 {
  --tw-gradient-to: #f9fafb var(--tw-gradient-to-position);
}
.object-cover {
  object-fit: cover;
}
.p-4 {
  padding: 16px !important;
}
.p-6 {
  padding: 24px;
}
.px-4 {
  padding-left: 16px;
  padding-right: 16px;
}
.px-5 {
  padding-left: 20px;
  padding-right: 20px;
}
.py-2 {
  padding-bottom: 8px;
  padding-top: 8px;
}
.py-4 {
  padding-bottom: 16px;
  padding-top: 16px;
}
.py-8 {
  padding-bottom: 32px;
  padding-top: 32px;
}
.text-center {
  text-align: center;
}
.font-sans {
  font-family:
    Open Sans,
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}
.text-3xl {
  font-size: 30px;
  line-height: 36px;
}
.text-sm {
  font-size: 14px;
  line-height: 21px;
}
.text-lg {
  font-size: 18px;
  line-height: 27px;
}
.text-xl {
  font-size: 20px;
  line-height: 28px;
}
.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600 !important;
}
.leading-relaxed {
  line-height: 1.625;
}
.tracking-wide {
  letter-spacing: 0.025em;
}
.text-emerald-500 {
  --tw-text-opacity: 1;
  color: rgb(16 185 129 / var(--tw-text-opacity));
}
.text-emerald-600 {
  --tw-text-opacity: 1;
  color: rgb(5 150 105 / var(--tw-text-opacity)) !important;
}
.text-emerald-700,
.hover\:text-emerald-700:hover {
  --tw-text-opacity: 1;
  color: rgb(4 120 87 / var(--tw-text-opacity)) !important;
}
.text-emerald-800 {
  --tw-text-opacity: 1;
  color: rgb(6 95 70 / var(--tw-text-opacity)) !important;
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity)) !important;
}
.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity)) !important;
}
.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}
.hover\:text-green-700:hover,
.text-green-700 {
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
}
.shadow-lg {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.transition-all {
  transition-duration: 0.15s;
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.transition-colors {
  transition-duration: 0.15s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.transition-shadow {
  transition-duration: 0.15s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.transition-transform {
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.duration-150 {
  transition-duration: 0.15s;
}
.duration-200 {
  transition-duration: 0.2s;
}
.duration-300 {
  transition-duration: 0.3s !important;
}
.duration-500 {
  transition-duration: 0.5s;
}
.duration-700 {
  transition-duration: 0.7s;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hover\:-translate-y-0\.5:hover {
  --tw-translate-y: -2px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:-translate-y-1:hover,
.hover\:translate-y-\[-4px\]:hover {
  --tw-translate-y: -4px;
}
.hover\:-translate-y-1:hover,
.hover\:scale-105:hover,
.hover\:translate-y-\[-4px\]:hover {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
}
.hover\:scale-110:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:bg-emerald-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(236 253 245 / var(--tw-bg-opacity));
}
.hover\:bg-emerald-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(5 150 105 / var(--tw-bg-opacity));
}
.hover\:text-blue-600:hover {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}
.hover\:text-emerald-100:hover {
  --tw-text-opacity: 1;
  color: rgb(209 250 229 / var(--tw-text-opacity));
}
.hover\:text-pink-600:hover {
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity));
}
.hover\:text-red-600:hover {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.hover\:text-black:hover {
  color: black;
}

.hover\:shadow-lg:hover {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
}
.hover\:shadow-lg:hover {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
:is(.group:hover .group-hover\:text-emerald-600) {
  --tw-text-opacity: 1;
  color: rgb(5 150 105 / var(--tw-text-opacity));
}
@media (min-width: 640px) {
  .sm\:mb-4 {
    margin-bottom: 16px;
  }
  .sm\:mb-6 {
    margin-bottom: 24px;
  }
  .sm\:mb-8 {
    margin-bottom: 32px;
  }
  .sm\:mt-8 {
    margin-top: 32px;
  }
  .sm\:h-14 {
    height: 56px;
  }
  .sm\:h-\[400px\] {
    height: 400px;
  }
  .sm\:w-14 {
    width: 56px;
  }
  .sm\:w-\[200px\] {
    width: 200px;
  }
  .sm\:flex-row {
    flex-direction: row;
  }
  .sm\:justify-start {
    justify-content: flex-start;
  }
  .sm\:gap-0 {
    gap: 0;
  }
  .sm\:gap-4 {
    gap: 16px;
  }
  .sm\:gap-6 {
    gap: 24px;
  }
  .sm\:p-5 {
    padding: 20px;
  }
  .sm\:p-8 {
    padding: 32px !important;
  }
  .sm\:px-6 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .sm\:px-8 {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
  .sm\:py-8 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }
  .sm\:py-12 {
    padding-bottom: 48px;
    padding-top: 48px;
  }
  .sm\:py-3 {
    padding-bottom: 12px;
    padding-top: 12px;
  }
  .sm\:text-2xl {
    font-size: 24px;
    line-height: 31.200000000000003px;
  }
  .sm\:text-4xl {
    font-size: 36px;
    line-height: 41.4px;
  }
  .sm\:text-base {
    font-size: 16px;
    line-height: 25.6px;
  }
  .sm\:h-fit {
    height: fit-content;
  }
  .sm\:mt-6 {
    margin-top: 24px;
  }
  .sm\:text-left {
    text-align: left !important;
  }
  .sm\:items-start {
    align-items: start !important;
  }
}
@media (min-width: 768px) {
  .md\:flex {
    display: flex !important;
  }
  .md\:text-left {
    text-align: left !important;
  }
  .md\:justify-center {
    justify-content: center;
  }
  :is(.md\:space-y-6 > :not([hidden]) ~ :not([hidden])) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(24px * var(--tw-space-y-reverse)) !important;
    margin-top: calc(24px * (1 - var(--tw-space-y-reverse))) !important;
  }
  :is(.md\:space-x-8 > :not([hidden]) ~ :not([hidden])) {
    --tw-space-x-reverse: 0;
    margin-left: calc(32px * (1 - var(--tw-space-x-reverse)));
    margin-right: calc(32px * var(--tw-space-x-reverse));
  }
  .md\:flex-1 {
    flex: 1 1 0%;
  }
  .md\:h-full {
    height: 100%;
  }
  .md\:h-300 {
    min-height: 300px;
  }
  .md\:w-1\/2 {
    width: 50%;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:p-4 {
    padding: 16px;
  }
  .md\:mx-4 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .md\:p-10 {
    padding: 40px;
  }
  .md\:text-5xl {
    font-size: 48px;
    line-height: 52.800000000000004px;
  }
  .md\:overflow-hidden {
    overflow: hidden;
  };
  
  .md\:gap-4 {
    gap: 16px;
  }
  .md\:w-24 {
    width: 96px;
  }
  .md\:h-24 {
    height: 96px !important;
  }
  .md\:mt-0 {
    margin-top: 0px !important;
  }
  .md\:gap-6 {
    gap: 24px;
  }
  .md\:gap-8 {
    gap: 32px !important;
  }
  .md\:px-8 {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
  .md\:py-20 {
    padding-bottom: 80px !important;
    padding-top: 80px !important;
  }
  .md\:py-16 {
    padding-bottom: 64px !important;
    padding-top: 64px !important;
  }
  .md\:gap-12 {
    gap: 48px !important;
  }
  .md\:w-30rem {
    width: 22rem;
  }
  .md\:max-w-md {
    max-width: 28rem;
  }
  .md\:my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  
}
@media (min-width: 1024px) {
  .lg\:w-2\/5 {
    width: 40%;
  }
  .lg\:w-3\/5 {
    width: 60%;
  }
  .lg\:p-12 {
    padding: 48px;
  }
  .lg\:px-8 {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.gap-6 {
  gap: 24px;
}
.w-24 {
  width: 96px;
}
.w-32 {
  width: 128px;
}
.h-32 {
  height: 128px;
}
.h-24 {
  height: 96px;
}
.flex-1 {
  flex: 1 1 0%;
}
.text-2xl {
  font-size: 24px;
  line-height: 31.200000000000003px;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.border-emerald-100 {
  --tw-border-opacity: 1;
  border-color: rgb(209 250 229 / var(--tw-border-opacity)) !important;
}
.border-emerald-200 {
  --tw-border-opacity: 1;
  border-color: rgb(167 243 208 / var(--tw-border-opacity)) !important;
}
.h-48 {
  height: 192px;
}
.p-8 {
  padding: 32px;
}
:is(.space-y-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(8px * var(--tw-space-y-reverse));
  margin-top: calc(8px * (1 - var(--tw-space-y-reverse)));
}
:is(.space-y-3 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(12px * var(--tw-space-y-reverse));
  margin-top: calc(12px * (1 - var(--tw-space-y-reverse)));
}
:is(.space-y-4 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(16px * var(--tw-space-y-reverse));
  margin-top: calc(16px * (1 - var(--tw-space-y-reverse)));
}
:is(.space-y-6 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(24px * var(--tw-space-y-reverse));
  margin-top: calc(24px * (1 - var(--tw-space-y-reverse)));
}
.bg-emerald-400\/50 {
  background-color: rgba(52, 211, 153, 0.5);
}
.bg-emerald-400 {
  background-color: rgb(52, 211, 153) !important;
}
.gap-8 {
  gap: 32px;
}
.max-w-md {
  max-width: 28rem;
}
.hover\:translate-y-\[-5px\]:hover {
  --tw-translate-y: -5px;
}
.hover\:scale-105:hover,
.hover\:translate-y-\[-5px\]:hover {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.relative {
  position: relative;
}
.absolute {
  position: absolute !important;
}
.left-3 {
  left: 12px;
}
.top-2\.5 {
  top: 10px;
}
.border-b {
  border-bottom: 1px solid;
}
.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity)) !important;
}
.border-blue-100 {
  --tw-border-opacity: 1;
  border-color: rgb(219 234 254 / var(--tw-border-opacity)) !important;
}
.hover\:bg-gray-200:hover,
.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
}
.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important;
}
.focus\:outline-green-500:focus {
  --tw-ring-opacity: 1;
  outline-color: rgb(34 197 94 / var(--tw-ring-opacity)) !important;
}
.v-data-table-rows-no-data {
  position: relative;

  td {
    padding: unset !important;
    position: absolute !important;
    width: 100%;
  }
}
.v-data-table-progress th {
  position: absolute !important;
  width: 100%;
}
.flex-shrink-0 {
  flex-shrink: 0;
}


.translate-x-\[100\%\] {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-\[-100\%\] {
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.px-2\.5 {
  padding-left: 10px;
  padding-right: 10px;
}
.text-xs {
  font-size: 12px;
  line-height: 19.200000000000003px;
}
.bottom-0 {
  bottom: 0 !important;
}
.right-0 {
  right: 0 !important;
}
.rounded-2xl {
  border-radius: 48px;
}
.h-0\.5 {
  height: 2px;
}
.max-w-6xl {
  max-width: 72rem;
}
.mb-4 {
  margin-bottom: 16px !important;
}